@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #3f414d;
  --color-dark-1: oklch(14.1% 0.005 285.823);
  --color-dark-2: oklch(27.4% 0.006 286.033);
  --color-dark-3: oklch(50% 0.013 285.805);
  --color-light-1: oklch(98.8% 0.003 106.5);
  --color-light-2: oklch(0.8878 0.0208 270.86);
  --color-light-3: oklch(0.8104 0.0208 270.86);
  --font-sans: 'IBM Plex Sans'
}